/////
// WidgetTreeView.css

+WidgetTreeController WidgetTree
{
  +nuiVBox
  {
    Expand: ShrinkAndGrow;

    +nuiHBox {
      +nuiLabel {
        Text: "Windows";
        Expand= ShrinkAndGrow;
      }

      +nuiButton UpdateWindows {
        +nuiLabel UpdateWindows {
          Text:"Update";
        }
      }
    }

    +nuiScrollView
    {
      Expand= ShrinkAndGrow;
      +nuiTreeView Windows {

      }
    }
  }
}
