icon.icns        NUI_RESOURCE    "resources/icon.icns"
icon.ico        NUI_RESOURCE    "resources/icon.ico"
icon.png        NUI_RESOURCE    "resources/icon.png"
css/nuiDbg.css        NUI_RESOURCE    "resources/css/nuiDbg.css"
decorations/iconKO.png        NUI_RESOURCE    "resources/decorations/iconKO.png"
decorations/iconNui.png        NUI_RESOURCE    "resources/decorations/iconNui.png"
decorations/iconNuiDisabled.png        NUI_RESOURCE    "resources/decorations/iconNuiDisabled.png"
decorations/iconOK.png        NUI_RESOURCE    "resources/decorations/iconOK.png"
0 ICON "resources/icon.ico"
